*{
    margin: 0;
    padding: 20;
}
body{
    background-color: rgb(233, 233, 233);
}
.cabecalho{
    background-color: rgb(255, 120, 9);
    display: flex;
   padding: 10px;
}
.cabecalho-lista-item{
display: inline-block;
}
.titulo-robotica{
    text-align: center;
    font-size: 40px;
    font-family: monospace;
    color: rgb(255, 0, 0);
}
